body{
    margin: 0;
    background-color: white;
    text-align: left top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p{font-size: 120px;
    margin: 0;
    position: relative;
    left: 25 px
}

h1{font-size: 150px;
    margin: 0; /* Removes margin */
    font-weight: 600 ; /* Sets font weight to normal */
    position: relative;
    left: 25px
}

h2{
    font-size: 150px;
    margin: 0; /* Removes margin */
    font-weight: 600 ; /* Sets font weight to normal */
    position: relative;
    left: 25px; 
    text-decoration: underline;
}

span.greeting {
    font-size: 90px;
    font-weight: 400;
    
}



a{font-size: 120px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 25px;
    display: inline-block;

}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
   
}

a:hover::before{
   
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .3s ease-in;

} 

a:hover{
    color: red;
    font-style: italic;
    
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    h1{
    font-size: 100px; /* Adjusted size for mobile devices */
    /* CSS rules for mobile devices */}
    a{
        font-size: 80px;
    }
    span.greeting{
        font-size: 80px;
    }
}

/* Media query for tablets and larger devices */
@media (min-width: 769px) {
    /* CSS rules for tablets and larger devices */
}

/* Media query for desktops */
@media (min-width: 992px) {
    /* CSS rules for desktops */
}
